@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ADADAD;
}

p, footer span, footer a {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7em;
    color: #262626;
}

h2 {
    font-size: 1.25rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #262626;
    margin: 10px 0;
}

.alignCenter {
    text-align: center;
}

/* Layout */
#leftbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 46px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    overflow: auto;
}

#pagebody {
    margin-left: 46px;
}

main {
    margin: 0 10px;
    min-height: 85vh;
    padding: 1px 16px;
    transition: all 0.3s;
}

/* Chat Styles */
.profileChat {
    overflow: auto;
    top: 0;
    position: fixed;
    background-color: #f8f9fa;
}

.messagesChat {
    margin-top: 74px;
    margin-bottom: 40px;
    height: 75%;
    position: fixed;
    overflow: auto;
}

.newMessagesChat {
    margin-top: auto;
    position: fixed;
    margin-bottom: 5px;
    bottom: 0;
}

.chatText {
    font-size: 12px;
    line-height: 1.15;
}

#scoreRangeSlider {
    margin-top: 74px;
}

/* Sidebar Styles */
#sidebar, #menuN {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    color: #262626;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active, #menuN.active {
    left: 0;
}

#dismiss, #dismiss-not {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #FF9429;
    border-radius: 12%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

#dismiss:hover, #dismiss-not:hover {
    background: #fff;
    color: #262626;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header, #menuN .sidebar-header {
    padding: 20px;
    background: #262626;
}

#sidebar ul.components, #menuN ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #FF9429;
}

#sidebar ul p, #menuN ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a, #menuN ul li a {
    padding: 10px;
    display: block;
}

#sidebar ul li a:hover, #menuN ul li a:hover,
#sidebar ul li.s > a, #menuN ul li.s > a,
a[aria-expanded="true"] {
    color: #f8f9fa;
    background: #262626;
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.orangeBtn,
a.orangeBtn:hover {
    background: #FF9429 !important;
    color: #262626 !important;
}

li.sideButton {
    text-align: center;
    font-weight: 600;
}

/* Slider Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Footer Styles */
footer {
    background-color: #262626;
    text-align: center;
    padding: 20px 0;
    min-height: 15vh;
}

footer span {
    color: #f8f9fa;
}

footer a, footer a:hover {
    color: #FF9429;
}

.orange-button:hover {
    background: rgb(247, 134, 20);
    color: rgb(36, 34, 34);
}

/* Media Queries */
@media screen and (max-width: 260px) {
    p, .footerText {
        font-size: 10px;
        font-weight: 400;
    }

    .btn {
        padding: 0 !important;
    }

    .caption {
        font-size: 7px;
    }

    h1, h2, h3 .weightText {
        font-size: 10px !important;
    }
}

@media screen and (min-width: 261px) and (max-width: 345px) {
    p, .footerText {
        font-size: 10px;
        font-weight: 400;
    }

    .btn {
        padding: 0 0.25rem !important;
    }

    .caption {
        font-size: 8px;
    }

    h3 {
        font-size: 12px !important;
    }

    #leftbar {
        width: 30px;
    }

    #pagebody {
        margin-left: 30px;
    }
}

@media screen and (min-width: 346px) and (max-width: 509px) {
    .img-miniatura {
        max-width: 70px !important;
    }

    h3 {
        font-size: 16px !important;
    }
}

@media screen and (min-width: 510px) {
    .img-miniatura {
        max-width: 90px !important;
    }

    h3 {
        font-size: 20px !important;
    }
}
